.collections {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-primary-dark);
}

.placeholder {
  margin: 16px 0;
}

.placeholderHeader {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
}

.placeholderText {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
