.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  padding: 16px;
  gap: 16px;
  flex-grow: 1;
  background: var(--color-secondary-light);
  border-radius: 8px;
  border-top-left-radius: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.submit {
  width: 100%;
  background: var(--color-primary-light);
}

.status {
  text-align: center;
  font-weight: 300;
  font-size: 2.0rem;
  color: var(--color-error);
  padding-bottom: 8px;
}
